body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  position:absolute;
  left:236px;
  top:175px;
  width:375px;
  height:667px;
}
#u456 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u457 {
  position:absolute;
  left:244px;
  top:183px;
  width:360px;
  height:11px;
}
#u458 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u459 {
  position:absolute;
  left:252px;
  top:220px;
  width:22px;
  height:19px;
}
#u460 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u461 {
  position:absolute;
  left:555px;
  top:220px;
  width:34px;
  height:34px;
  font-size:22px;
}
#u462 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u463 {
  position:absolute;
  left:252px;
  top:495px;
  width:337px;
  height:77px;
}
#u464 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u465 {
  position:absolute;
  left:269px;
  top:503px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u467 {
  position:absolute;
  left:528px;
  top:522px;
  width:38px;
  height:24px;
}
#u468 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u469 {
  position:absolute;
  left:269px;
  top:543px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u471 {
  position:absolute;
  left:347px;
  top:512px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  position:absolute;
  left:252px;
  top:582px;
  width:337px;
  height:77px;
}
#u474 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u475 {
  position:absolute;
  left:269px;
  top:590px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u477 {
  position:absolute;
  left:528px;
  top:609px;
  width:38px;
  height:24px;
}
#u478 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u479 {
  position:absolute;
  left:269px;
  top:630px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u481 {
  position:absolute;
  left:347px;
  top:599px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  position:absolute;
  left:252px;
  top:669px;
  width:337px;
  height:77px;
}
#u484 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u485 {
  position:absolute;
  left:269px;
  top:677px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u487 {
  position:absolute;
  left:528px;
  top:696px;
  width:38px;
  height:24px;
}
#u488 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u489 {
  position:absolute;
  left:269px;
  top:717px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u491 {
  position:absolute;
  left:347px;
  top:686px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  position:absolute;
  left:252px;
  top:756px;
  width:337px;
  height:77px;
}
#u494 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u495 {
  position:absolute;
  left:269px;
  top:764px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u497 {
  position:absolute;
  left:528px;
  top:783px;
  width:38px;
  height:24px;
}
#u498 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u499 {
  position:absolute;
  left:269px;
  top:804px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u500 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u501 {
  position:absolute;
  left:347px;
  top:773px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u503 {
  position:absolute;
  left:269px;
  top:276px;
  width:300px;
  height:170px;
}
#u504 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  position:absolute;
  left:674px;
  top:175px;
  width:375px;
  height:667px;
}
#u506 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u507 {
  position:absolute;
  left:682px;
  top:183px;
  width:360px;
  height:11px;
}
#u508 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u509 {
  position:absolute;
  left:690px;
  top:220px;
  width:22px;
  height:19px;
}
#u510 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u511 {
  position:absolute;
  left:993px;
  top:220px;
  width:34px;
  height:34px;
  font-size:22px;
}
#u512 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u513 {
  position:absolute;
  left:707px;
  top:276px;
  width:300px;
  height:170px;
}
#u514 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  position:absolute;
  left:690px;
  top:495px;
  width:337px;
  height:77px;
}
#u516 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517 {
  position:absolute;
  left:674px;
  top:495px;
  width:303px;
  height:77px;
  overflow:hidden;
}
#u517_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u517_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  position:absolute;
  left:-39px;
  top:0px;
  width:337px;
  height:77px;
}
#u519 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u520 {
  position:absolute;
  left:-22px;
  top:8px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u522 {
  position:absolute;
  left:237px;
  top:27px;
  width:38px;
  height:24px;
}
#u523 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u524 {
  position:absolute;
  left:-22px;
  top:48px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u526 {
  position:absolute;
  left:56px;
  top:17px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u527 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u528 {
  position:absolute;
  left:979px;
  top:524px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  position:absolute;
  left:693px;
  top:582px;
  width:337px;
  height:77px;
}
#u531 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u532 {
  position:absolute;
  left:710px;
  top:590px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u534 {
  position:absolute;
  left:969px;
  top:609px;
  width:38px;
  height:24px;
}
#u535 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u536 {
  position:absolute;
  left:710px;
  top:630px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u537 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u538 {
  position:absolute;
  left:788px;
  top:599px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u540 {
  position:absolute;
  left:693px;
  top:669px;
  width:337px;
  height:77px;
}
#u541 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u542 {
  position:absolute;
  left:710px;
  top:677px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u543 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u544 {
  position:absolute;
  left:969px;
  top:696px;
  width:38px;
  height:24px;
}
#u545 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u546 {
  position:absolute;
  left:710px;
  top:717px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u548 {
  position:absolute;
  left:788px;
  top:686px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u549 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  position:absolute;
  left:693px;
  top:756px;
  width:337px;
  height:77px;
}
#u551 {
  position:absolute;
  left:2px;
  top:30px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u552 {
  position:absolute;
  left:710px;
  top:764px;
  width:72px;
  height:30px;
  font-family:'Franklin Gothic Book Bold', 'Franklin Gothic Book';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u554 {
  position:absolute;
  left:969px;
  top:783px;
  width:38px;
  height:24px;
}
#u555 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u556 {
  position:absolute;
  left:710px;
  top:804px;
  width:161px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u557 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u558 {
  position:absolute;
  left:788px;
  top:773px;
  width:49px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u559 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u560_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:32px;
}
#u560 {
  position:absolute;
  left:866px;
  top:523px;
  width:22px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u561 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
}
#u563 {
  position:absolute;
  left:1575px;
  top:175px;
  width:81px;
  height:25px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
}
#u564 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u565 {
  position:absolute;
  left:1577px;
  top:218px;
  width:500px;
  height:114px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u566 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u567_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:32px;
}
#u567 {
  position:absolute;
  left:1545px;
  top:176px;
  width:22px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u568 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  position:absolute;
  left:1113px;
  top:175px;
  width:375px;
  height:667px;
}
#u570 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u571 {
  position:absolute;
  left:1121px;
  top:183px;
  width:360px;
  height:11px;
}
#u572 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u573 {
  position:absolute;
  left:1129px;
  top:220px;
  width:22px;
  height:19px;
}
#u574 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u575 {
  position:absolute;
  left:1432px;
  top:220px;
  width:34px;
  height:34px;
  font-size:22px;
}
#u576 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:171px;
}
#u577 {
  position:absolute;
  left:1210px;
  top:424px;
  width:182px;
  height:170px;
}
#u578 {
  position:absolute;
  left:2px;
  top:78px;
  width:178px;
  word-wrap:break-word;
}
#u579 {
  position:absolute;
  left:1301px;
  top:424px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#33CC66;
}
#u579_seg0 {
  position:absolute;
  left:-4px;
  top:-191px;
  width:8px;
  height:191px;
}
#u579_seg1 {
  position:absolute;
  left:-4px;
  top:-191px;
  width:135px;
  height:8px;
}
#u579_seg2 {
  position:absolute;
  left:117px;
  top:-197px;
  width:21px;
  height:20px;
}
#u580 {
  position:absolute;
  left:-50px;
  top:-167px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
}
#u582 {
  position:absolute;
  left:1575px;
  top:376px;
  width:41px;
  height:25px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
}
#u583 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u584 {
  position:absolute;
  left:1577px;
  top:419px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u585 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u586_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:32px;
}
#u586 {
  position:absolute;
  left:1545px;
  top:377px;
  width:22px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u587 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u588 {
  position:absolute;
  left:866px;
  top:534px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#FF0000;
}
#u588_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:18px;
  height:8px;
}
#u588_seg1 {
  position:absolute;
  left:10px;
  top:-438px;
  width:8px;
  height:442px;
}
#u588_seg2 {
  position:absolute;
  left:10px;
  top:-438px;
  width:684px;
  height:8px;
}
#u588_seg3 {
  position:absolute;
  left:686px;
  top:-438px;
  width:8px;
  height:80px;
}
#u588_seg4 {
  position:absolute;
  left:680px;
  top:-372px;
  width:20px;
  height:21px;
}
#u589 {
  position:absolute;
  left:116px;
  top:-442px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590 {
  position:absolute;
  left:1481px;
  top:237px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#FF0000;
}
#u590_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u590_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:144px;
}
#u590_seg2 {
  position:absolute;
  left:65px;
  top:126px;
  width:20px;
  height:21px;
}
#u591 {
  position:absolute;
  left:25px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592 {
  position:absolute;
  left:534px;
  top:201px;
  width:76px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u593 {
  position:absolute;
  left:969px;
  top:201px;
  width:76px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u594 {
  position:absolute;
  left:1405px;
  top:201px;
  width:76px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u595 {
  position:absolute;
  left:252px;
  top:498px;
  width:266px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u596 {
  position:absolute;
  left:236px;
  top:201px;
  width:76px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u597 {
  position:absolute;
  left:674px;
  top:201px;
  width:76px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u598 {
  position:absolute;
  left:1113px;
  top:201px;
  width:76px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u599_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:32px;
}
#u599 {
  position:absolute;
  left:1459px;
  top:226px;
  width:22px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u600 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
}
#u602 {
  position:absolute;
  left:1575px;
  top:485px;
  width:41px;
  height:25px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u604 {
  position:absolute;
  left:1577px;
  top:528px;
  width:500px;
  height:26px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u605 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u606_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:32px;
}
#u606 {
  position:absolute;
  left:1545px;
  top:486px;
  width:22px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u607 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:32px;
}
#u608 {
  position:absolute;
  left:1140px;
  top:232px;
  width:22px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u609 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610 {
  position:absolute;
  left:1151px;
  top:254px;
  width:0px;
  height:0px;
  font-size:11px;
  color:#FF0000;
}
#u610_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:247px;
}
#u610_seg1 {
  position:absolute;
  left:-4px;
  top:239px;
  width:398px;
  height:8px;
}
#u610_seg2 {
  position:absolute;
  left:380px;
  top:233px;
  width:21px;
  height:20px;
}
#u611 {
  position:absolute;
  left:26px;
  top:235px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u613 {
  position:absolute;
  left:236px;
  top:139px;
  width:38px;
  height:36px;
  color:#CC0000;
}
#u614 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u615 {
  position:absolute;
  left:273px;
  top:139px;
  width:157px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u616 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u618 {
  position:absolute;
  left:674px;
  top:139px;
  width:38px;
  height:36px;
  color:#CC0000;
}
#u619 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u620 {
  position:absolute;
  left:711px;
  top:139px;
  width:157px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u621 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u623 {
  position:absolute;
  left:1113px;
  top:139px;
  width:38px;
  height:36px;
  color:#CC0000;
}
#u624 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u625 {
  position:absolute;
  left:1150px;
  top:139px;
  width:157px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u626 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
