<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>默认铃声</key>
	<array>
		<string>动物园</string>
	</array>
	<key>电竞大师</key>
	<array>
		<string>斗地主~</string>
		<string>Normal 2</string>
		<string>Normal 3</string>
		<string>Welcome 1</string>
		<string>【稳住别浪】</string>
		<string>来一口炸裂的农药吧</string>
		<string>王者荣耀英雄台词版</string>
		<string>《啦啦啦德玛西亚》主题曲</string>
		<string>《啦啦啦德玛西亚第四季超神学院》插曲</string>
		<string>2017英雄联盟全球总决赛主题曲</string>
		<string>亚索台词版</string>
		<string>英雄联盟</string>
		<string>英雄联盟的姑娘们</string>
		<string>Legends Never Die</string>
		<string>Teemo迅捷斥候-提莫</string>
	</array>
	<key>二次元动漫</key>
	<array>
		<string>哆啦a梦</string>
		<string>哆啦A梦伴我同行</string>
		<string>夢をかなえてドラえもん</string>
		<string>夏川りみ - ハグしちゃお</string>
		<string>ドラえも～ん！</string>
		<string>ひまわりの約束</string>
		<string>煌めく瞬间 (とき) に捕らわれて</string>
		<string>君が好きだと叫びたい</string>
		<string>世界が终わるまでは</string>
		<string>あなただけ見つめてる</string>
		<string>BRAND NEW WORLD</string>
		<string>Dear friends</string>
		<string>HANDS UP!</string>
		<string>Wake up!</string>
		<string>ココロのちず</string>
		<string>FLOW - Sign</string>
		<string>Hearts Grow - ユラユラ</string>
		<string>↑THE HIGH-LOWS↓ - 胸がドキドキ</string>
		<string>名探偵コナン」~メインテーマ</string>
		<string>CHICAGO POODLE - 君の笑顔がなによりも好きだった</string>
		<string>Lie, Lie, Lie</string>
		<string>大原櫻子 - おどるポンポコリン 00_00_12-00_00_41.44(New1)</string>
		<string>水谷優子,山本圭子,渡辺菜生子 - あっけにとられた时のうた~出演者ヴァージョン 00_00_00-00_00_29(New1)</string>
	</array>
	<key>鬼畜神作妖</key>
	<array>
		<string>【全明星】刘备为何开枪打死曹操</string>
		<string>曾小贤魔性笑声第二弹</string>
		<string>鬼畜弟弟第二版</string>
		<string>挖掘机技术哪家强？</string>
		<string>我居然鬼畜了弟弟（第一版）</string>
		<string>校长你什么时候装空调啊？</string>
		<string>元首nobody</string>
		<string>浙江温州江南皮革厂倒闭了</string>
		<string>Are You OK</string>
	</array>
	<key>主播真会玩</key>
	<array>
		<string>金牌鬼畜讲师热唱马大侠</string>
		<string>看我五五开</string>
		<string>骚猪大战五五开</string>
		<string>我是全英雄联盟最骚的骚猪</string>
		<string>我是世界上最优良的中二杀神</string>
		<string>笑笑没头发</string>
	</array>
</dict>
</plist>
