<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>默认铃声</string>
	<string>电竞大师</string>
	<string>二次元动漫</string>
	<string>鬼畜神作妖</string>
	<string>主播真会玩</string>
	<string>佛系随缘闹钟</string>
</array>
</plist>
