body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:236px;
  top:175px;
  width:375px;
  height:667px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:236px;
  top:175px;
  width:375px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u1873 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  word-wrap:break-word;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u1874 {
  position:absolute;
  left:258px;
  top:196px;
  width:14px;
  height:23px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u1876 {
  position:absolute;
  left:370px;
  top:679px;
  width:79px;
  height:79px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:693px;
  top:175px;
  width:375px;
  height:667px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1880 {
  position:absolute;
  left:693px;
  top:175px;
  width:375px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u1881 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u1882 {
  position:absolute;
  left:715px;
  top:196px;
  width:14px;
  height:23px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u1884 {
  position:absolute;
  left:824px;
  top:662px;
  width:113px;
  height:113px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:48px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u1886 {
  position:absolute;
  left:824px;
  top:662px;
  width:113px;
  height:113px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:48px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u1888 {
  position:absolute;
  left:830px;
  top:669px;
  width:101px;
  height:101px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1890 {
  position:absolute;
  left:383px;
  top:692px;
  width:53px;
  height:53px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u1892 {
  position:absolute;
  left:861px;
  top:700px;
  width:39px;
  height:39px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:172px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:325px;
  top:336px;
  width:197px;
  height:172px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:78px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:76px;
}
#u1896 {
  position:absolute;
  left:382px;
  top:384px;
  width:53px;
  height:76px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:30px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:4px;
}
#u1898 {
  position:absolute;
  left:452px;
  top:459px;
  width:25px;
  height:4px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u1900 {
  position:absolute;
  left:452px;
  top:454px;
  width:19px;
  height:4px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u1902 {
  position:absolute;
  left:452px;
  top:450px;
  width:19px;
  height:4px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:172px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  position:absolute;
  left:782px;
  top:336px;
  width:197px;
  height:172px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:78px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:76px;
}
#u1906 {
  position:absolute;
  left:839px;
  top:384px;
  width:53px;
  height:76px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:30px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:4px;
}
#u1908 {
  position:absolute;
  left:909px;
  top:459px;
  width:25px;
  height:4px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u1910 {
  position:absolute;
  left:909px;
  top:454px;
  width:19px;
  height:4px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u1912 {
  position:absolute;
  left:909px;
  top:450px;
  width:19px;
  height:4px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  position:absolute;
  left:1111px;
  top:175px;
  width:375px;
  height:667px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1916 {
  position:absolute;
  left:1111px;
  top:175px;
  width:375px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u1917 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u1918 {
  position:absolute;
  left:1133px;
  top:196px;
  width:14px;
  height:23px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:172px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  position:absolute;
  left:1200px;
  top:336px;
  width:197px;
  height:172px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:78px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:76px;
}
#u1922 {
  position:absolute;
  left:1257px;
  top:384px;
  width:53px;
  height:76px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:30px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:4px;
}
#u1924 {
  position:absolute;
  left:1327px;
  top:459px;
  width:25px;
  height:4px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u1926 {
  position:absolute;
  left:1327px;
  top:454px;
  width:19px;
  height:4px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:4px;
}
#u1928 {
  position:absolute;
  left:1327px;
  top:450px;
  width:19px;
  height:4px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1930 {
  position:absolute;
  left:1179px;
  top:669px;
  width:88px;
  height:88px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1932 {
  position:absolute;
  left:1344px;
  top:669px;
  width:88px;
  height:88px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  word-wrap:break-word;
}
