body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2466 {
  position:absolute;
  left:236px;
  top:175px;
  width:375px;
  height:667px;
}
#u2467 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2468 {
  position:absolute;
  left:236px;
  top:175px;
  width:375px;
  height:64px;
  font-size:20px;
  color:#666666;
}
#u2469 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  word-wrap:break-word;
}
#u2470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u2470 {
  position:absolute;
  left:251px;
  top:196px;
  width:13px;
  height:22px;
}
#u2471 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2472 {
  position:absolute;
  left:248px;
  top:249px;
  width:351px;
  height:80px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:32px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2474 {
  position:absolute;
  left:248px;
  top:282px;
  width:346px;
  height:1px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2476 {
  position:absolute;
  left:260px;
  top:258px;
  width:24px;
  height:20px;
}
#u2477 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2478 {
  position:absolute;
  left:552px;
  top:258px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2479 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2480 {
  position:absolute;
  left:260px;
  top:296px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2481 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
