body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1331 {
  position:absolute;
  left:66px;
  top:148px;
  width:129px;
  height:83px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1334_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u1334 {
  position:absolute;
  left:37px;
  top:234px;
  width:200px;
  height:2px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:203px;
}
#u1336 {
  position:absolute;
  left:199px;
  top:190px;
  width:2px;
  height:200px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  position:fixed;
  left:-10px;
  top:-1px;
}
#u1339_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1339_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:50px;
}
#u1340 {
  position:absolute;
  left:10px;
  top:0px;
  width:3000px;
  height:50px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:17px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1342 {
  position:absolute;
  left:214px;
  top:24px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1344 {
  position:absolute;
  left:510px;
  top:17px;
  width:90px;
  height:29px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1344_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1344.selected {
}
#u1345 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1346 {
  position:absolute;
  left:607px;
  top:17px;
  width:95px;
  height:29px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1346_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1346.selected {
}
#u1347 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:710px;
  top:17px;
  width:90px;
  height:29px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1348_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1348.selected {
}
#u1349 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3010px;
  height:30px;
}
#u1350 {
  position:absolute;
  left:0px;
  top:48px;
  width:3010px;
  height:30px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:7px;
  width:3006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352 {
  position:absolute;
  left:519px;
  top:51px;
  width:555px;
  height:25px;
  overflow:hidden;
}
#u1352_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1352_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1353 {
  position:absolute;
  left:65px;
  top:1px;
  width:77px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1353_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1353.selected {
}
#u1354 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1355 {
  position:absolute;
  left:152px;
  top:1px;
  width:77px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1355_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1355.selected {
}
#u1356 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  word-wrap:break-word;
}
#u1352_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1352_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1357 {
  position:absolute;
  left:101px;
  top:1px;
  width:77px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1357_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1357.selected {
}
#u1358 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:1px;
  width:77px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1359_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1359.selected {
}
#u1360 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  word-wrap:break-word;
}
#u1352_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1352_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1361 {
  position:absolute;
  left:114px;
  top:1px;
  width:94px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1361_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1361.selected {
}
#u1362 {
  position:absolute;
  left:2px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1363 {
  position:absolute;
  left:211px;
  top:1px;
  width:94px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1363_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1363.selected {
}
#u1364 {
  position:absolute;
  left:2px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1365 {
  position:absolute;
  left:309px;
  top:1px;
  width:81px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1365_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1365.selected {
}
#u1366 {
  position:absolute;
  left:2px;
  top:1px;
  width:77px;
  word-wrap:break-word;
}
#u1352_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1352_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1367 {
  position:absolute;
  left:290px;
  top:1px;
  width:77px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1367_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1367.selected {
}
#u1368 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1369 {
  position:absolute;
  left:383px;
  top:1px;
  width:77px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1369_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1369.selected {
}
#u1370 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:3003px;
  height:5px;
}
#u1371 {
  position:absolute;
  left:10px;
  top:75px;
  width:3000px;
  height:2px;
  opacity:0.5;
}
#u1372 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:505px;
  top:47px;
  width:100px;
  height:2px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  position:absolute;
  left:604px;
  top:47px;
  width:100px;
  height:2px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:703px;
  top:47px;
  width:100px;
  height:2px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379 {
  position:absolute;
  left:1260px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1380 {
  position:absolute;
  left:810px;
  top:17px;
  width:90px;
  height:29px;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1380_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Regular', '等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1380.selected {
}
#u1381 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:803px;
  top:47px;
  width:100px;
  height:2px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1384 {
  position:absolute;
  left:19px;
  top:5px;
  width:185px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u1385 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u1387 {
  position:fixed;
  right:100px;
  bottom:10px;
  width:60px;
  height:60px;
  overflow:hidden;
}
#u1387_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1387_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(198, 47, 47, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1390 {
  position:absolute;
  left:6px;
  top:6px;
  width:48px;
  height:48px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1392 {
  position:absolute;
  left:14px;
  top:11px;
  width:33px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1394 {
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:716px;
}
#u1395 {
  position:absolute;
  left:236px;
  top:175px;
  width:558px;
  height:716px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:350px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
